* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Inter;
  background-color: #FAFAF8;
}
.header{
  height: 70px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.header .img-container{
  width: 50px;
  height:50px;
  overflow: hidden;
}
.img-container .nav-logo{
  width: 100%;  
  height: 100%;
  object-fit: cover;
}
.header .title{
  font-size: 20px;
  font-weight: 400;
}
main{
  padding: 30px 30px 10px;
}
.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}
.add-ingredient-form > input{
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
  font-size: 0.875rem;
  font-family: Inter;
}
.add-ingredient-form > button{
  background-color: #141413;
  color: #FAFAF8;
  border-radius: 6px;
  border: none;
  font-family: Inter;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 400;
}
.add-ingredient-form > button::before{
  content: "+";
  margin-right: 5px;
}
.ingredients-list > li{
  margin-bottom: 20px;
}
.recipe-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.recipe-section h2{
  font-size: 2rem;
}
.get-recipe-container{
  background-color: #aaccff;
  color: #141413;
  border-radius: 10px;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-recipe-container button{
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgb(216, 126, 52);
  color: #fff;
  border: none;
  font-family: Inter;
  font-size: 16px;
}